<div class="text-center container mt-5">
    <div class="form-reset-psw">
        <div class="authBlock">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">

            <h3>Reset Password</h3>

            <p class="text-center">Please enter your email address to request a password reset.</p>



            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Email Address" #passwordResetEmail required>
                <label for="floatingInput">Email</label>
            </div>

            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="form-group mt-3">
                <!--<input type="submit" class="w-100 btn btn-lg btn-primary mt-2" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">-->
            </div>
        </div>

    

        <div class="redirectToLogin mt-3">
            <a class="dropdown-item" routerLink="/login">Go back to ? Log In</a>
        </div>

    </div>
</div>