<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
   <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>

    <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Tableau de bord</div>
        <div class="page__content shadow p-3 position-relative">
            <!--<div class="page__content-data position-absolute text-center">-->
            <div class="container">
                <div class="content container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-card mb-30">
                                <div class="icon purple">
                                    <mat-icon>supervisor_account</mat-icon>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Nombre d'utilisateurs</h6>
                                    <h3 *ngIf="users$ | async as folders" class="text-bold mb-10">{{folders.length}}</h3>
                                    <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            
                        </div>
                        <div class="col-lg-3 col-md-6">
                           
                        </div>
                        <div class="col-lg-3 col-md-6">
                           
                        </div>
                    </div>
    
                    <!--<div class="row">
                        <div class="col-lg">
                            <div class="card-style mb-30">
                                <h6 class="mb-10">Utilisateurs</h6>
                                <div class="table-wrapper table-responsive">
                                    <table class="table clients-table">
                                        <thead>
                                            <tr>
                                            
                                                <th>
                                                    <h6>Nom</h6>
                                                </th>
                                                <th>
                                                    <h6>Email</h6>
                                                </th>
                                                <th>
                                                    <h6>Entreprise</h6>
                                                </th>
                                                <th>
                                                    <h6>Type de compte</h6>
                                                </th>
                                                <th>
                                                    <h6>Ajouté le</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="min-width">
                                                    <p>Hermann Manuel</p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">h.manuel@sekoia.ch</a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Sekoia Services SA</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Administrateur</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>23 janvier 2022</p>
                                                </td>
    
                                            </tr>
                                            <tr>
                                                <td class="min-width">
                                                    <p>Esther Howard</p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">yourmail@gmail.com</a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Firme SA</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Normal</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>16 février 2022</p>
                                                </td>
    
                                            </tr>
                                            <tr>
                                                <td class="min-width">
                                                    <p>John Doe</p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">doe@gmail.com</a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Zerm SA</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Normal</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>26 mars 2022</p>
                                                </td>
    
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row mt-5">
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-card mb-30">
                                <div class="icon purple">
                                    <mat-icon>subject</mat-icon>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Nombre de classeurs</h6>
                                    <h3 class="text-bold mb-10">6</h3>
                                    <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <mat-icon>subject</mat-icon>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Classeurs non commencés</h6>
                                    <h3 class="text-bold mb-10">2</h3>
                                    <!--<p class="text-sm text-success">
                                        <i class="lni lni-arrow-up"></i> +5.45%
                                        <span class="text-gray">Increased</span>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <mat-icon>subject</mat-icon>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Classeurs en cours</h6>
                                    <h3 class="text-bold mb-10">1</h3>
                                    <!--<p class="text-sm text-danger">
                                        <i class="lni lni-arrow-down"></i> -2.00%
                                        <span class="text-gray">Expense</span>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="icon-card mb-30">
                                <div class="icon success">
                                    <mat-icon>subject</mat-icon>
                                </div>
                                <div class="content">
                                    <h6 class="mb-10">Classeurs terminés</h6>
                                    <h3 class="text-bold mb-10">1</h3>
                                    <!--<p class="text-sm text-danger">
                                        <i class="lni lni-arrow-down"></i> -25.00%
                                        <span class="text-gray"> Earning</span>
                                    </p>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-lg">
                            <div class="card-style mb-30">
                                <h6 class="mb-10">Classeurs</h6>
                                <div class="table-wrapper table-responsive">
                                    <table class="table clients-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <h6>Entreprise</h6>
                                                </th>
                                                <th>
                                                    <h6>Répertoire</h6>
                                                </th>
                                                <th>
                                                    <h6>Classeur</h6>
                                                </th>
                                                <th>
                                                    <h6>Commentaire</h6>
                                                </th>
                                                <th>
                                                    <h6>Ajouté le</h6>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="min-width">
                                                    <p>Sekoia Services SA</p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">Company\Fournisseur\2018</a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Traitement des salaires</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Classeur complet</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>6 avril 2022</p>
                                                </td>
    
                                            </tr>
                                            <tr>
                                                <td class="min-width">
                                                    <p>Sekoia Services SA</p>
                                                </td>
                                                <td class="min-width">
                                                    <p><a href="#0">Company\Fournisseur\2018</a></p>
                                                </td>
                                                <td class="min-width">
                                                    <p>Commande Client</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>R.A.S</p>
                                                </td>
                                                <td class="min-width">
                                                    <p>26 mars 2022</p>
                                                </td>
    
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->
    
                    <!-- Show user data when logged in -->
                    <!--<div class="row" *ngIf="authService.userData as user">
                    <div class="col-md-12">
                        <div class="media">
                            <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
                            <div class="media-body">
                                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                                <p>User ID: <strong>{{user.uid}}</strong></p>
                                <p>Email: <strong>{{user.email}}</strong></p>
                                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>-->
    
                </div>
            </div>
        </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>



