<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Demandes de congé</div>
        <div class="page__content shadow p-3 position-relative">
        <div class=" text-center">
                <div class="bg-light p-3 rounded">

                  <div>
               
                      <div class="row mt-5">
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon green">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Nombre de mesure</h6>
                                        <!--<h3 *ngIf="this.folders$ | async as folders" class="text-bold mb-10 ">{{ folders.length }}</h3>-->
                                        <!-- <h3>{{ this.leaveRequests.length }}</h3> -->
                                        <h3 *ngIf="leavesByUid$ | async as leaves" class="text-bold mb-10">{{leaves.length}}</h3>

                                        <div *ngIf="leavesByUid$ | async as leaves" class="text-bold mb-10">
                                        <p *ngFor="let leave of leaves">
                                          {{ leave.displayName }}
                                        </p>
                                        </div>

                                             

                                        <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                        </p>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de congé en attente</h6>
                                        <!-- row.status === 'PROGRESSING' -->
                                <!--<h3 *ngIf="this.folders$ | async as folders" class="text-bold mb-10 ">{{ folders.length }}</h3>-->
                                        <h3>{{ compteurProgressingRequest }}</h3>
                                        <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de mesure confirmée</h6>
                                        <!-- row.status === 'PROGRESSING' -->
                                <!--<h3 *ngIf="this.folders$ | async as folders" class="text-bold mb-10 ">{{ folders.length }}</h3>-->
                                        <h3>{{ compteurAcceptedRequest }}</h3>
                                        <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de congé en refusé</h6>
                                        <!-- row.status === 'PROGRESSING' -->
                                <!--<h3 *ngIf="this.folders$ | async as folders" class="text-bold mb-10 ">{{ folders.length }}</h3>-->
                                        <h3>{{ compteurRefusedRequest }}</h3>
                                        <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-lg-3 col-md-6">
                                <!-- <button mat-raised-button color="warn" (click)="openDialogSocialFolder()"> -->
                                 <button mat-raised-button color="warn" routerLink="/leave-requests/create">
                            <mat-icon inline=true>note_add</mat-icon>
                            Créer une mesure
                        </button>
                            </div>
                        </div>
                    <mat-form-field appearance="standard" style="width:100%">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. demande de congé" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%" matSortActive="created_at" matSortDirection="desc">
                            
                          <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let row"> {{row.id }} </td>
                            </ng-container>
                            <ng-container matColumnDef="displayName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom et nom</th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.displayName }} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type mesure</th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.type | uppercase }} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.description}} </td>
                            </ng-container>
                            
                            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                                <td mat-cell *matCellDef="let row"> 
                                  
                                  <p *ngIf="row.registerObj.status === 'PROGRESSING'">
                                    <span class="badge bg-dark">En attente</span>
                                  </p>

                                  <p *ngIf="row.registerObj.status === 'ACCEPTED'">
                                    <span class="badge bg-success">Accepté</span>
                                  </p>

                                  <p *ngIf="row.registerObj.status === 'CANCELED'">
                                    <span class="badge bg-danger">Annulé</span>
                                  </p>

                                  <p *ngIf="row.registerObj.status === 'REFUSED'">
                                    <span class="badge bg-danger">Refusé</span>
                                  </p>


                                </td>
                            </ng-container>

                            <ng-container matColumnDef="start_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de début </th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.start_date | date : 'dd/MM/yyyy' : undefined : 'fr' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="end_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de fin </th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.end_date | date : 'dd/MM/yyyy' : undefined : 'fr' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="responsable">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
                                <td mat-cell *matCellDef="let row"> {{row.registerObj.responsable }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Créé le </th>
                                <td mat-cell *matCellDef="let row"> {{ row.registerObj.created_at.toDate() | date : 'dd/MM/yyyy'}} </td>
                            </ng-container> 
                           
                          
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
                                <td mat-cell *matCellDef="let row" style="width: 155px;">

                                    <!-- <a
                                      routerLink="/invoices/detail/{{ row.id }}"
                                    
                                    >
                                      <button mat-icon-button color="primary">
                                          <mat-icon>find_in_page</mat-icon>
                                      </button>
                                    </a> -->

                                    <a
                                          routerLink="/leave-requests/{{ row.id }}"
                                        >
                                        <button mat-icon-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                        </button>    
                                    </a>


                                    <button mat-icon-button color="warn"  (click)="deleteLeaveRequest(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>                                    
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>
                </div>

                     <!--<div class="row mt-5">
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon green">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Nombre de mesure</h6>
                                        <h3>{{ this.leaveRequests.length }}</h3>
                                
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de congé en attente</h6>
                                        <h3>{{ compteurProgressingRequest }}</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de congé acceptée</h6>
                                      
                                        <h3>{{ compteurAcceptedRequest }}</h3>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon blue">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Total de congé en refusé</h6>
                                      
                                        <h3>{{ compteurRefusedRequest }}</h3>
                                       
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-lg-3 col-md-6">
                               
                                 <button mat-raised-button color="warn" routerLink="/leave-requests/create">
                            <mat-icon inline=true>note_add</mat-icon>
                            Créer une demande de congé
                        </button>
                            </div>
                        </div>-->

      <div class="alert bg-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
   
   
     <!--<mat-form-field appearance="standard" style="width:100%">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Indiquer la demande de congé" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%" matSortActive="created_at" matSortDirection="desc">
                            
                          <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let row"> {{row.id }} </td>
                            </ng-container>
                            <ng-container matColumnDef="displayName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom et nom</th>
                                <td mat-cell *matCellDef="let row"> {{row.displayName }} </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type mesure</th>
                                <td mat-cell *matCellDef="let row"> {{row.type | uppercase }} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                            </ng-container>
                            
                            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                                <td mat-cell *matCellDef="let row"> 
                                  
                                  
                                  
                                  <p *ngIf="row.status === 'PROGRESSING'">
                                    <span class="badge bg-dark">En attente</span>
                                  </p>

                                  <p *ngIf="row.status === 'ACCEPTED'">
                                    <span class="badge bg-success">Accepté</span>
                                  </p>

                                  <p *ngIf="row.status === 'CANCELED'">
                                    <span class="badge bg-danger">Annulé</span>
                                  </p>

                                  <p *ngIf="row.status === 'REFUSED'">
                                    <span class="badge bg-danger">Refusé</span>
                                  </p>


                                </td>
                            </ng-container>

                            <ng-container matColumnDef="start_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de début </th>
                                <td mat-cell *matCellDef="let row"> {{row.start_date | date : 'dd/MM/yyyy' : undefined : 'fr' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="end_date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de fin </th>
                                <td mat-cell *matCellDef="let row"> {{row.end_date | date : 'dd/MM/yyyy' : undefined : 'fr' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="responsable">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
                                <td mat-cell *matCellDef="let row"> {{row.responsable }} </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Créé le </th>
                                <td mat-cell *matCellDef="let row"> {{ row.created_at | date : 'dd/MM/yyyy' : undefined : 'fr' }} </td>
                            </ng-container> 
                           
                          
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
                                <td mat-cell *matCellDef="let row" style="width: 155px;">


                           

                                    <a
                                          routerLink="/leave-requests/{{ row.id }}"
                                        >
                                        <button mat-icon-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                        </button>    
                                    </a>


                                    <button mat-icon-button color="warn"  (click)="deleteLeaveRequest(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                    
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>  -->
            </div>
        </div>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

