<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="container-fluid page">
        <div class="d-flex page__box p-3 mt-2">Classeurs</div>
        <div class="page__content shadow p-3 position-relative">
            <div class=" text-center">
                <div class="bg-light p-3 rounded">
                   <div class="row mt-5">
                           <div class="col-lg-3 col-md-6">
                                <div class="icon-card mb-30">
                                    <div class="icon green">
                                        <mat-icon>subject</mat-icon>
                                    </div>
                                    <div class="content">
                                        <h6 class="mb-10">Nombre de classeurs</h6> 
                                        <!--<h3 *ngIf="this.folders$ | async as folders" class="text-bold mb-10 ">{{ folders.length }}</h3>-->
                                        <h3>{{ this.classeurs.length}}</h3> 
                                        <!--<p class="text-sm text-success">
                                        <i class="fas fa-address-book"></i> +2.00%
                                        <span class="text-gray">(30 days)</span>
                                    </p>-->
                                     </div>
                                </div>
                            </div> 
                    
                  
                            <div class="col-lg-3 col-md-6">
                                <!-- <button mat-raised-button color="warn" (click)="openDialogSocialFolder()"> -->
                                 <button mat-raised-button color="warn" routerLink="/classeurs/create">
                            <mat-icon inline=true>note_add</mat-icon>
                            Ajouter un classeur
                        </button>
                            </div>
                        </div>

 
     <mat-form-field appearance="standard" style="width:100%">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Indiquer un nom du classeur" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort style="width:100%" matSort matSortActive="created_at" matSortDirection="desc">
                            
                          <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                                <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
                            </ng-container>

                            <ng-container matColumnDef="customer_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom client </th>
                                <td mat-cell *matCellDef="let row"> {{ row.customer_name | uppercase }} </td>
                            </ng-container>

                            <ng-container matColumnDef="binder_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom classeur </th>
                                <td mat-cell *matCellDef="let row"> {{ row.binder_name | uppercase }} </td>
                            </ng-container>
                            
                            
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                                <td mat-cell *matCellDef="let row"> {{ row.description}} </td>
                            </ng-container>
                            
                            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
                                <td mat-cell *matCellDef="let row"> 
                                  
                                  <p *ngIf="row.status === 'NOT_STARTED'">
                                    <span class="badge bg-dark">Pas commencé</span>
                                  </p>

                                  <p *ngIf="row.status === 'PROGRESSING'">
                                    <span class="badge bg-danger">En cours</span>
                                  </p>

                                  <p *ngIf="row.status === 'DONE'">
                                    <span class="badge bg-success">Terminé</span>
                                  </p>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date_binder_creation">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Année  </th>
                                <td mat-cell *matCellDef="let row"> {{ row.date_binder_creation | date : 'yyyy' : undefined : 'fr' }} </td>
                            </ng-container> 

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ajouté le </th>
                                <td mat-cell *matCellDef="let row"> {{ row.created_at | date : 'dd MMMM yyyy' : undefined : 'fr' }} </td>
                            </ng-container> 
                           
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action </th>
                                <td mat-cell *matCellDef="let row">

                                    <a
                                      routerLink="/classeurs/detail/{{ row.id }}"
                                    
                                    >
                                      <button mat-icon-button color="primary">
                                          <mat-icon>find_in_page</mat-icon>
                                      </button>
                                    </a>

                                    <a
                                          routerLink="/classeurs/{{ row.id }}"
                                        >
                                        <button mat-icon-button color="primary">
                                        <mat-icon>edit</mat-icon>
                                        </button>    
                                    </a>


                                    <button mat-icon-button color="warn"  (click)="deleteClasseur(row.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                    
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                    </div>  
            </div>
        </div>
    </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

