<h1 mat-dialog-title>{{titleModal}}</h1>
<div mat-dialog-content>
    <form [formGroup]="sheetForm">
        <!--<form [formGroup]="productForm">-->

        <mat-form-field appearance="outline">
            <mat-label>Nom classeur</mat-label>
            <input formControlName="nomClasseur" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nom du client</mat-label>
            <mat-select formControlName="nomClient" placeholder="Nom du client">
                <mat-option value="foj">FOJ</mat-option>
                <mat-option value="idq">IDQ</mat-option>
                <mat-option value="centre_espoir">Centre espoir</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choississez une date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-label>
            <h2>État</h2>
        </mat-label>
        <mat-radio-group formControlName="etat" class="example-radio-group">
            <mat-radio-button *ngFor="let etat of etats" [value]="etat" class="example-radio-button">
                {{etat}}
            </mat-radio-button>
        </mat-radio-group>
        <!--<mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" matInput type="number" placeholder="Name">
        </mat-form-field>-->
        <mat-form-field appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    <button style="margin-left: 8px" mat-raised-button color="primary" (click)="addFolder()">{{actionBtn}}</button>
</div>