<h1 mat-dialog-title>{{titleModal}}</h1>
<div mat-dialog-content>
    <form [formGroup]="sheetForm">

        <mat-form-field appearance="outline">
            <mat-label>Nom du client</mat-label>
            <mat-select formControlName="nomClient" placeholder="Nom du client">
                <mat-option value="foj">FOJ</mat-option>
                <mat-option value="idq">IDQ</mat-option>
                <mat-option value="centre_espoir">Centre espoir</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nom classeur</mat-label>
            <input formControlName="nomClasseur" matInput placeholder="Nom du classeur">
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Répertoire de base</mat-label>
            <textarea formControlName="directory" matInput placeholder="Répertoire de base"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Choississez une date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Spécificité</mat-label>
            <input formControlName="specificite" matInput>
        </mat-form-field>

        <section class="example-section">
            <mat-radio-group formControlName="Nomemclature">
                <mat-label>Nomemclature :</mat-label>
                <mat-checkbox (click)="toggleLetterNomenclature()" class="example-margin"> Lettres </mat-checkbox>
                <mat-checkbox (click)="toggleMonthNomenclature()" class="example-margin">Mois</mat-checkbox>
            </mat-radio-group>
        </section>

        <div *ngIf="isLetterNomenclatureChecked" class="mr-20-cb">
            <mat-checkbox> A </mat-checkbox>
            <mat-checkbox> B </mat-checkbox>
            <mat-checkbox> C </mat-checkbox>
            <mat-checkbox> D </mat-checkbox>
            <mat-checkbox> E </mat-checkbox>
            <mat-checkbox> F </mat-checkbox>
            <mat-checkbox> G </mat-checkbox>
            <mat-checkbox> H </mat-checkbox>
            <mat-checkbox> I </mat-checkbox>
            <mat-checkbox> J </mat-checkbox>
            <mat-checkbox> K </mat-checkbox>
            <mat-checkbox> L </mat-checkbox>
            <mat-checkbox> M </mat-checkbox>
            <mat-checkbox> N </mat-checkbox>
            <mat-checkbox> O </mat-checkbox>
            <mat-checkbox> P </mat-checkbox>
            <mat-checkbox> Q </mat-checkbox>
            <mat-checkbox> R </mat-checkbox>
            <mat-checkbox> S </mat-checkbox>
            <mat-checkbox> T </mat-checkbox>
            <mat-checkbox> U </mat-checkbox>
            <mat-checkbox> V </mat-checkbox>
            <mat-checkbox> W </mat-checkbox>
            <mat-checkbox> X </mat-checkbox>
            <mat-checkbox> Y </mat-checkbox>
            <mat-checkbox> Z </mat-checkbox>
        </div>

        <div *ngIf="isMonthNomenclatureChecked" class="mr-20-cb">
            <mat-checkbox> Janvier </mat-checkbox>
            <mat-checkbox> Février </mat-checkbox>
            <mat-checkbox> Mars </mat-checkbox>
            <mat-checkbox> Avril </mat-checkbox>
            <mat-checkbox> Mai </mat-checkbox>
            <mat-checkbox> Juin </mat-checkbox>
            <mat-checkbox>Juillet</mat-checkbox>
            <mat-checkbox>Août</mat-checkbox>
            <mat-checkbox>Septembre</mat-checkbox>
            <mat-checkbox>Octobre</mat-checkbox>
            <mat-checkbox>Novembre</mat-checkbox>
            <mat-checkbox>Décembre</mat-checkbox>
        </div>


        <section class="example-section">
            <mat-radio-group formControlName="etat">
                <mat-label>État :</mat-label>
                <mat-radio-button *ngFor="let etat of etats" [value]="etat" class="example-margin">
                    {{etat}}
                </mat-radio-button>
            </mat-radio-group>
        </section>

        <mat-form-field appearance="outline">
            <mat-label>Commentaire</mat-label>
            <textarea formControlName="comment" matInput placeholder="Commentaire"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    <button class="ml-8" mat-raised-button color="primary" (click)="addFolder()">{{actionBtn}}</button>
</div>